/* App.css */
* {
  background-color: #fdfdfc;
  font-family: "Nunito Sans", sans-serif;
}

.BackGround-image {
  background: url('assets/background1.jpg') no-repeat;
  background-size: cover; /* This ensures the background image covers the entire container */
  background-position: center;
}

.navbar {
  background-color: #CC313D;
  color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  background-color: #CC313D;
  display: flex;
  align-items: center;
}

.navbar-name {
  font-weight: 900;
  font-size: 30px;
  background-color: #CC313D;
}

.navbar-logo {
  background-color: #CC313D;
  padding-top: 3px;
  font-size: 25px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 200px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fdfdfc;
}

h2 {
  color: #333;
}

h3 {
  margin-top: 10px;
}

.container h4 {
  font-size: 18px;
}

.file-upload-section {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.file-upload-section input[type="file"] {
   display: none; /*Hide the default file input */
}

.custom-file-upload {
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);;
}

.custom-file-upload:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.upload-btn {
  background-color: #CC313D;
  color: #fff;
  border: none;
  padding: 7px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 30px;
  height: 45px;
  font-size: 15px;
  transition: background-color 0.25s ease;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);
}

.upload-btn:hover {
  background-color: #CC313D;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info-message {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.file-details {
  margin-top: 20px;
}

.file-details p {
  margin: 5px 0;
  color: #333;
}

.success-message {
  margin-top: 20px;
  color: #28a745;
}


.footer {
  margin-top: 100px;
  padding: 30px;
  background-color: #CC313D;
  /* padding-top: 180px; */
}

.footer-form {
  background-color: #CC313D;
}

.row {
  background-color: #CC313D;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form {
  background-color: #CC313D;
}

form input {
  width: 100%;
  border: 0;
  outline: none;
  background: #d3d3d3;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

input[type="email"] {
  background: white;
  padding: 15px;
  margin: 15px 0;
}

.contact-left p{
  background-color: #CC313D;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 20px;
}

.contact-left p i{
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
}

.contact-left h1 {
  background-color: #CC313D;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
}

.contact-left div{
  margin-left: 60px;
}

.contact-left {
  background-color: #CC313D;
  flex-basis: 35%;
}

.gmail {
  color: #fff;
  font-size: large;
  display: flex; /* Use flexbox */
  align-items: center;
}

.footer-icon {
  background-color: #CC313D;
  font-size: 25px;
  margin-right: 10px;
}

.contact-right {
  background-color: #CC313D;
  flex-basis: 60%;
}

.btn2 {
  display: inline-block;
  padding: 14px 60px;
  background: #f9f9f9;
  color: #CC313D;
  text-decoration: none;
  border-radius: 40px;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.4s;
  width: 180px;
  margin-top: 20px;
  margin-left: 300px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);
  border: none;
}

.btn2:hover {
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contact-right form{
  width: 100%;
}


.upload-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  position: relative;
  background-color: #FCF6F5; /* Add background color */
}

.upload-progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: #FCF6F5; */
  border-radius: 5px;
  z-index: 1;
}

.upload-progress h3,
.upload-progress p {
  position: relative;
  z-index: 2;
}

.upload-progress .spinner {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.main_header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  font-weight: 800;
}

.text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  font-weight: 400;
}

.file-details {
  background-color: rgba(255, 255, 255, 0.8);
}

.breaker {
  margin: 45px 0;
  height: 100px;
}

.file-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.file-header-background {
  margin-top: 20px;
  background-color: #fdfdfc;
}

.file-list {
  margin-top: 10px;
  text-align: center;
  background-color: #fdfdfc;
}

.file-list h2 {
  margin-bottom: 20px;
}

table {
  width: 70%;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  border-radius:6px;
  background-color: #fdfdfc; 
}

th, td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: center;
  border: none;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  padding: 6px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
